.btn {


  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #164AA7;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #4797BC;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 5px 5px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
 
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
	
	
	
	
	
	
	
	table {
    width:100%;
}
table, th, td {
    border: 0px solid white;
    border-collapse: collapse;
	font-family:"Roboto";
	
	
}
th, td {
    padding: 5px;
    text-align: left;
	text-align: center;
	font-size:20px;
	
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
	
    background-color: #164AA7;
    color: white;
}
	
	
	


	


#map {
        height: 400px;
        width: 100%;
		align:center;
       }
